<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SW API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>Star Wars Universe Planets:</h1>
    <button id="previous" type="button" class="btn btn-primary">Previous</button>
    <button id="next" type="button" class="btn btn-primary">Next</button>
    <table class="table table-bordered m-2">
        <thead>
            <tr>
                <td class="col">Name</td>
                <td class="col">Diameter</td>
                <td class="col">Climate</td>
                <td class="col">Terrain</td>
                <td class="col">Surface Water Percentage</td>
                <td class="col">Population</td>
                <td class="col">Residents</td>
                <td class="col"></td>
            </tr>
        </thead>
        <tbody id="planetBoard">

        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
